<div class="projectsSection">
  <div id="projectsContent" class="projectsContent">
    <div id="projectsBox" class="projectsBox">
      <h2 id="projectsHeader" class="fontKarla">
        {{ "PROJECTS.PORTFOLIO" | translate }}
      </h2>
      <h1 id="projectsMainHeader" class="fontFiraCode">
        {{ "PROJECTS.FEATURED_PROJECTS" | translate }}
      </h1>
      <p id="projectsDescriptionText" class="fontKarla">
        {{ "PROJECTS.EXPLORE_TEXT" | translate }}
      </p>
      <div
        id="projectCard"
        class="projectCard borderTopTwoPixel marginTop32"
        (click)="popup.showPopupWithIndex(0)"
      >
        <div id="cardTitleBox" class="cardTitleBox">
          <h3 id="projectTitle" class="fontFiraCode">Pokedex</h3>
          <img src="/assets/img/arrow_outward.png" alt="Arrow Top Right" />
        </div>
        <span id="techStackText" class="fontKarla"
          >HTML | CSS | JavaScript | API</span
        >
        <div id="pokedexPreviewBox" class="projectPreviewHoverBox top100">
          <img src="/assets/img/pokedex.png" alt="Pokedex Preview Image" />
          <img
            src="/assets/img/capa.png"
            alt="Preview Image Background-Effect"
          />
        </div>
      </div>
      <div
        id="projectCard"
        class="projectCard borderTopTwoPixel borderBotTwoPixel"
        (click)="popup.showPopupWithIndex(1)"
      >
        <div id="cardTitleBox" class="cardTitleBox">
          <h3 id="projectTitle" class="fontFiraCode">Join</h3>
          <img src="/assets/img/arrow_outward.png" alt="Arrow Top Right" />
        </div>
        <span id="techStackText" class="fontKarla"
          >HTML | CSS | JavaScript</span
        >
        <div id="joinPreviewBox" class="projectPreviewHoverBox top50">
          <img src="/assets/img/join.png" alt="Join Preview Image" />
          <img
            src="/assets/img/capa.png"
            alt="Preview Image Background-Effect"
          />
        </div>
      </div>
      <app-popup #popup></app-popup>
      <div
        id="projectCard"
        class="projectCard borderBotTwoPixel"
        (click)="popup.showPopupWithIndex(2)"
      >
        <div id="cardTitleBox" class="cardTitleBox">
          <h3 id="projectTitle" class="fontFiraCode">El Pollo Loco</h3>
          <img src="/assets/img/arrow_outward.png" alt="Arrow Top Right" />
        </div>
        <span id="techStackText" class="fontKarla"
          >HTML | CSS | JavaScript | OOP</span
        >
        <div id="elPolloLocoPreviewBox" class="projectPreviewHoverBox top0">
          <img
            src="/assets/img/el_pollo_loco.png"
            alt="El Pollo Loco Preview Image"
          />
          <img
            src="/assets/img/capa.png"
            alt="Preview Image Background-Effect"
          />
        </div>
      </div>
    </div>
  </div>
</div>
