<div class="aboutMeSection" id="aboutMeSection">
  <div class="aboutMeContent">
    <div class="imgBox" (mouseenter)="onMouseEnter()" [class.hovered]="hovered">
      <img class="backgroundEffect" src="/assets/img/Capa_1.png" alt="" />
      <img class="portrait" src="/assets/img/portrait.jpg" alt="" />
    </div>

    <app-section-card
      [sectionTitle]="'ABOUT_ME.WHO_I_AM' | translate"
      [mainHeading]="'ABOUT_ME.ABOUT_ME' | translate"
      [mainText]="'ABOUT_ME.MAIN_TEXT' | translate"
    >
      <div class="highlights marginTop32">
        <img src="/assets/img/location_icon.png" alt="Location Icon" />
        <span class="fontKarla">{{ 'ABOUT_ME.FLEXIBLE_WORK' | translate }}</span>
      </div>

      <div class="highlights">
        <img src="/assets/img/mind_icon.png" alt="Minded Head Icon" />
        <span class="fontKarla">{{ 'ABOUT_ME.OPEN_MINDED' | translate }}</span>
      </div>

      <div class="highlights">
        <img src="/assets/img/checked_gear_icon.png" alt="Checked Gear Icon" />
        <span class="fontKarla">{{ 'ABOUT_ME.PROBLEM_SOLVING' | translate }}</span>
      </div>
    </app-section-card>
  </div>
</div>
