.aboutMeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  .aboutMeContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 1080px;
    color: #ffffffcc;
    .imgBox {
      display: grid;
      position: relative;
      bottom: 150px;
      width: 568px;
      height: 568px;
      border-radius: 30px;

      .portrait {
        width: 568px;
        height: 568px;
        border-radius: 30px;
        grid-area: 1 / 1 / 2 / 2;
        z-index: 2;
      }
      .backgroundEffect {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        transform: translate(0, 0);
        transition: transform 0.3s ease-in-out;
      }
      &.hovered {
        .backgroundEffect {
          transform: translate(-30px, 20px);
        }
      }
    }
  }
}

.highlights {
  display: flex;
  color: #ffffff;
  gap: 16px;
  padding: 8px 0;
  font-weight: 400;
  font-size: 18px;
  img {
    width: 32px;
    height: 32px;
  }
}

.marginTop16 {
  margin-top: 32px;
}
