<div class="popup-overlay" *ngIf="isPopupVisible" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <!-- Beschreibung des Projekts -->
    <div class="descriptionBox">
      <h1 class="fontKarla">{{ currentProject.projectNumber }}</h1>
      <h2 class="fontFiraCode">{{ currentProject.projectTitle }}</h2>
      <h3 class="fontFiraCode">{{ currentProject.projectDescriptionTitle | translate }}</h3>
      <p class="fontKarla">{{ currentProject.projectDescription | translate }}</p>

      <!-- Technologiestack, mit *ngFor iteriert über die techStack-Array -->
      <div class="tech-stack">
        <div *ngFor="let tech of currentProject.techStack">
          <img [src]="tech.icon" [alt]="tech.name" />
          <span>{{ tech.name }}</span>
        </div>
      </div>

      <!-- Buttons für GitHub und Live Test -->
      <div class="popup-buttons">
        <button (click)="openLink(currentProject.githubLink)">
          <span>GitHub</span>
          <img src="/assets/img/arrow_outward_mint.png" alt="Arrow Top Right" />
        </button>
        <button (click)="openLink(currentProject.liveTestLink)">
          <span>Live Test</span>
          <img src="/assets/img/arrow_outward_mint.png" alt="Arrow Top Right" />
        </button>
      </div>
    </div>

    <!-- Bild des Projekts -->
    <div class="imageBox">
      <div class="closeButton" (click)="closePopup()"></div>
      <img class="projectPreviewImg" [src]="currentProject.projectImage" alt="Project Preview Image" />
      <div class="nextButtonBox" (click)="nextProject()">
        <span>{{ 'POPUP.NEXT_PROJECT' | translate }}</span>
        <img src="/assets/img/arrow_forward.png" alt="Next Project Button" />
      </div>
    </div>
  </div>
</div>