.popupOverlay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  .popupContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1c1c1c 50%, #08463b 100%);
    color: #ffffff;
    border: solid 1px #3dcfb6;
    border-radius: 30px;
    width: 95%;
    max-width: 1440px;
    height: 60%;
    .mobileCloseButton {
      display: none;
      width: 18px;
      height: 18px;
      background-image: url("/assets/img/close_small.png");
      background-size: contain;
      background-position: center;
      transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
      cursor: pointer;
      &:hover {
        background-image: url("/assets/img/close.png");
        transform: scale(1.4);
      }
    }
    .mobileNextButtonBox {
      display: none;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      span {
        font-size: 18px;
        font-weight: 400;
        color: #3dcfb6;
        white-space: nowrap;
      }
      img {
        width: 18px;
        height: 18px;
        transform: translateX(0) scale(1);
        transition: transform 0.3s ease-in-out;
      }
      &:hover {
        span {
          color: #ffffff;
        }
        img {
          transform: translateX(5px) scale(1.15);
        }
      }
    }
    .descriptionBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      // width: 100%;
      // max-width: 520px;
      // height: 100%;
      // max-height: 370px;
      padding: 24px 40px;
      h1 {
        margin: 0;
        font-size: 4rem;
        font-weight: 700;
        color: #3dcfb6;
        line-height: 100px;
        letter-spacing: -2%;
      }
      h2 {
        margin: 0;
        font-size: 2.5rem;
        color: #ffffff;
        line-height: 50px;
        letter-spacing: -3%;
        white-space: nowrap;
      }
      h3 {
        margin: 10px 0;
        font-size: 1.5rem;
        font-weight: 700;
        color: #3dcfb6;
      }
      p {
        margin: 8px 0;
        font-size: 1rem;
        font-weight: 400;
        color: #ffffff;
      }
      .techStack {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 8px 0;
        div {
          display: flex;
          align-items: center;
          gap: 8px;
          img {
            width: 24px;
            height: 24px;
          }
          span {
            color: #ffffff;
          }
        }
      }
      .popupButtons {
        display: flex;
        width: 304px;
        height: 48px;
        gap: 32px;
        margin: 8px 0;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 12px 24px;
          border: solid 2px #ffffff;
          border-radius: 100px;
          background-color: transparent;
          color: #ffffff;
          font-size: 18px;
          overflow: hidden;
          gap: 8px;
          span {
            display: inline-block;
            white-space: nowrap;
            transform: translateX(0);
            opacity: 1;
            transition: none;
          }
          img {
            width: 10px;
            height: 10px;
            transform: translateX(0) scale(1);
            transition: transform 0.3s ease-in-out;
          }
          &:hover {
            border: solid 2px #3dcfb680;
            color: #3dcfb680;
            cursor: pointer;
            span {
              margin: 0;
            }
            img {
              transform: translateX(5px) scale(1.15);
            }
          }
        }
      }
    }
    .imageBox {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex: 1;
      gap: 40px;
      padding: 24px 40px;
      .closeButton {
        width: 18px;
        height: 18px;
        background-image: url("/assets/img/close_small.png");
        background-size: contain;
        background-position: center;
        transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
        cursor: pointer;
        &:hover {
          background-image: url("/assets/img/close.png");
          transform: scale(1.4);
        }
      }
      img {
        width: 100%;
        max-width: 520px;
        height: auto;
        border-radius: 30px;
      }
      .nextButtonBox {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        span {
          font-size: 18px;
          font-weight: 400;
          color: #3dcfb6;
          white-space: nowrap;
        }
        img {
          width: 18px;
          height: 18px;
          transform: translateX(0) scale(1);
          transition: transform 0.3s ease-in-out;
        }
        &:hover {
          span {
            color: #ffffff;
          }
          img {
            transform: translateX(5px) scale(1.15);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  #popupContent {
    width: 50%;
    min-width: 310px;
    height: fit-content;
    flex-direction: column-reverse;
    #descriptionBox {
      align-items: center;
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.25rem;
      }
      p {
        font-size: 0.875rem;
      }
      .techStack {
        flex-wrap: wrap;
      }
      .popupButtons {
        gap: 8px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #popupButtons {
    width: auto;
    height: auto;
    button {
      font-size: 0.9rem;
    }
  }
  #popupContent {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0;
  }
  #mobileCloseButton {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #mobileNextButtonBox {
    display: flex;
    position: absolute;
    bottom: 12px;
  }
  #descriptionBox {
    h1 {
      margin: -30px;
    }
    h3 {
      margin: 0;
    }
  }
  #imageBox {
    display: none;
  }
  #techStack {
    margin: 0;
    div {
      gap: 4px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
