@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Karla";
  height: 100%;
}
.feedbackSection {
  background-color: $background-color-main;
}

.feedbackSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 380px;
  overflow: hidden;
  position: relative;
  // background-color: $background-color-main;
  .headerTitle {
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 520px;

    h2 {
      font-size: 32px;
      font-family: "Karla";
      font-weight: 700;
      color: $text-color-accent;
    }

    .qoutes {
      position: absolute;
      z-index: 50;
      right: 100%;
    }
  }

  .sliderContainer {
    position: relative;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
    .slider {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: grab;
      &.dragging {
        cursor: grabbing;
      }
      .slide {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.5s ease-in-out;
        z-index: 1;
        padding: 30px;
        border-radius: 15px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: end;
        filter: blur(5px);
        max-height: 300px;
        min-width: 260px;
        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $text-color-accent;
          border-radius: 10px;
          border: 1px solid transparent;
          width: 6px;
          height: 6px;
          &:hover {
            background-color: $background-color-main;
          }
        }
        &::-webkit-scrollbar-button {
          display: none;
        }
        &::-webkit-scrollbar-corner {
          background: transparent;
        }
        &.active {
          background-color: $background-color-main;
          border: 2px solid $border-color;
          opacity: 1;
          z-index: 3;
          transform: translateX(-50%) scale(1);
          filter: blur(0px);
        }
        &.prev {
          background-color: $background-color-secondary;
          border: 1px solid $border-color;
          opacity: 0.7;
          z-index: 2;
          transform: translateX(-150%) scale(0.85);
          filter: blur(2px);
          
          .feedbackText,
          .feedbackAuthor {
            opacity: 1;
          }
        }
        &.next {
          background-color: $background-color-secondary;
          border: 1px solid $border-color;
          opacity: 0.7;
          z-index: 2;
          transform: translateX(50%) scale(0.85);
          filter: blur(2px);
          
          .feedbackText,
          .feedbackAuthor {
            opacity: 1;
          }
        }
        .feedbackText {
          font-size: 20px;
          font-family: "Karla";
          color: $text-color-main;
          margin-bottom: 30px;
          text-align: justify;
        }
        .feedbackAuthorBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .borderOnePixel {
            border: solid 1px $border-color;
            height: 1px;
            width: 30%;
          }
        }
        .feedbackAuthor {
          font-size: 18px;
          font-family: "Karla";
          font-weight: 700;
          color: $text-color-accent;
        }
      }
    }
  }

  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    .dot {
      height: 12px;
      width: 12px;
      margin: 0 5px;
      background-color: $background-color-secondary;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
      &.active {
        background-color: $hover-color;
      }
    }
  }

  .arrow {
    background: none;
    border: none;
    color: $text-color-accent;
    font-size: 32px;
    padding: 0 8px;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease;
    &:hover {
      color: $hover-color;
      filter: drop-shadow(0 0 10px $shadow-color);
    }
    &.leftArrow:hover {
      transform: translateX(-5px);
    }
    &.rightArrow:hover {
      transform: translateX(5px);
    }
  }
}

@media screen and (max-width: 1600px) {
  #feedbackSlider {
    height: 100%;
    padding: 20px 0;
  }
  #sliderContainer {
    min-height: 320px;
  }
  #headerTitle {
    width: 80%;
    margin-bottom: 16px;
    h2 {
      font-size: 1.5rem;
    }
  }
  #qoutesImg {
    display: none;
  }
  #feedbackAuthorBox {
    flex-direction: column;
    gap: 10px;
    .borderOnePixel {
      width: 100%;
    }
  }
  #feedbackText {
    text-align: center;
    font-size: 1.1rem;
  }
}
