@import "variables";

.aboutMeSection {
  background-color: $background-color-main;
  background: radial-gradient(
      circle at 102% center,
      $shadow-color 2%,
      transparent 10%
    ),
    $background-color-main;
  display: flex;
  justify-content: center;
  margin: 180px 0;
  .aboutMeContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: min-content;
    color: $text-color-main;
    .imgBox {
      display: grid;
      max-width: 568px;
      width: 100%;
      max-height: 568px;
      height: auto;
      border-radius: 30px;
      .portrait {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        grid-area: 1 / 1 / 2 / 2;
        z-index: 2;
      }
      .backgroundEffect {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        transform: translate(0, 0);
        transition: transform 0.3s ease-in-out;
      }
      &.hovered {
        .backgroundEffect {
          transform: translate(-30px, 20px);
        }
      }
    }
    .highlights {
      display: flex;
      color: $text-color-main;
      gap: 16px;
      padding: 8px 0;
      font-weight: 400;
      font-size: 18px;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .aboutMeSection .aboutMeContent {
    flex-direction: column;
    width: 80%;
    gap: 24px;
    padding: 20px 0;
  }
  .aboutMeSection .aboutMeContent .highlightText {
    font-size: 1rem;
  }
  .aboutMeSection .aboutMeContent .highlights {
    flex-direction: column;
    align-items: center;
  }
}
