.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 98px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 13.56%,
    rgba(0, 0, 0, 0.6) 84.01%
  );
  .navbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 98px;
    position: fixed;
    top: 0;

    .menu {
      display: flex;
      align-items: center;
      gap: 24px;
      .menuLink {
        a {
          font-size: 20px;
          font-weight: 400;
          text-decoration: none;
          color: #ffffff;
          &:hover {
            color: #3dcfb680;
          }
          &:hover + .hidden {
            opacity: 1;
          }
        }
        .radioButton {
          position: relative;
          top: 14px;
          right: 50%;
        }
      }

      .languageSwitch {
        font-size: 16px;
        font-weight: 400;
        width: 84px;
        height: 28px;
        border-radius: 100px;
        border: 2px solid #3dcfb6;
        display: flex;
        button {
          height: 28px;
          width: 44px;
          border-radius: 100px;
          border: 0;
          background-color: transparent;
          color: #3dcfb680;
          cursor: pointer;
        }

        .selected {
          font-weight: 700;
          background-color: #3dcfb6;
          color: #ffffff;
        }
      }
    }
    .logo {
      width: 132px;
      height: 48px;
      background-image: url("/assets/img/logo_full_color_cutted.png");
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-image: url("/assets/img/logo_full_outline_cutted.png");
        transform: scale(0.95);
      }
    }
    .burgerMenu {
      display: none;
      background-image: url("/assets/img/burger_menu.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 24px;
      cursor: pointer;
      &.menuOpen {
        background-image: url("/assets/img/burger_menu_colored.png");
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 100px;
  z-index: 100;
  width: 300px;
  background: linear-gradient(45deg, #1c1c1c 50%, #08463b 100%);
  border-radius: 16px;
  border: solid 1.5px #3dcfb6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  .popupMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    .popupMenuLink {
      a {
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
        &:hover {
          color: #3dcfb680;
        }
        &:hover + .hidden {
          opacity: 1;
        }
      }
      .radioButton {
        position: relative;
        top: 14px;
        right: 50%;
      }
    }
  }
  .popupLanguageSwitch {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    width: 84px;
    height: 28px;
    border-radius: 100px;
    border: 2px solid #3dcfb6;
    display: flex;
    .popupButton {
      height: 28px;
      width: 44px;
      border-radius: 100px;
      border: 0;
      background-color: transparent;
      color: #3dcfb680;
      cursor: pointer;
      &.selected {
        font-weight: 700;
        background-color: #3dcfb6;
        color: #ffffff;
      }
    }
  }
}

.menu .logo {
  flex: 1;
}

@media screen and (max-width: 1600px) {
  #navbarContent {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  #menu {
    display: none;
  }
  #burgerMenu {
    display: block;
  }
  #navbarLogo {
    height: 40px;
  }
}
