<div class="navbar">
  <div class="navbarContent">
    <div class="menu">
      <div class="languageSwitch">
        <button class="selected">EN</button>
        <button class="">DE</button>
      </div>
      <div class="menuLink">
        <a href="#footer">About me</a>
        <img class="radioButton hidden" src="/assets/img/radio_button_unchecked.svg" width="8px" height="8px" alt="">
      </div>
      <div class="menuLink">
        <a href="">Skills</a>
        <img class="radioButton hidden" src="/assets/img/radio_button_unchecked.svg" width="8px" height="8px" alt="">
      </div>
      <div class="menuLink">
        <a href="">Projects</a>
        <img class="radioButton hidden" src="/assets/img/radio_button_unchecked.svg" width="8px" height="8px" alt="">
      </div>
    </div>
    <div class="logo"></div>
  </div>
</div>
