<div class="navbar">
  <div class="navbarContent">
    <div class="menu">
      <div class="languageSwitch">
        <button class="fontFiraCode selected">EN</button>
        <button class="fontFiraCode">DE</button>
      </div>
      <div class="menuLink fontFiraCode">
        <a href="#aboutMeSection">About me</a>
        <img class="radioButton hidden" src="/assets/img/radio_button_unchecked.svg" width="8px" height="8px" alt="">
      </div>
      <div class="menuLink fontFiraCode">
        <a href="#skillsSection">Skills</a>
        <img class="radioButton hidden" src="/assets/img/radio_button_unchecked.svg" width="8px" height="8px" alt="">
      </div>
      <div class="menuLink fontFiraCode">
        <a href="#projectsSection">Projects</a>
        <img class="radioButton hidden" src="/assets/img/radio_button_unchecked.svg" width="8px" height="8px" alt="">
      </div>
    </div>
    <div class="logo"></div>
  </div>
</div>
