<div class="navbar">
  <div class="navbarContent">
    <div class="menu">
      <div class="languageSwitch">
        <button
          class="fontFiraCode"
          [class.selected]="currentLang === 'en'"
          (click)="switchLanguage('en')"
        >
          EN
        </button>

        <button
          class="fontFiraCode"
          [class.selected]="currentLang === 'de'"
          (click)="switchLanguage('de')"
        >
          DE
        </button>
      </div>

      <div class="menuLink fontFiraCode">
        <a href="#aboutMeSection">{{ "MENU.ABOUT_ME" | translate }}</a>
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
      </div>
      <div class="menuLink fontFiraCode">
        <a href="#skillsSection">{{ "MENU.SKILLS" | translate }}</a>
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
      </div>
      <div class="menuLink fontFiraCode">
        <a href="#projectsSection">{{ "MENU.PROJECTS" | translate }}</a>
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
      </div>
    </div>
    <div class="logo"></div>
    <div
      class="burgerMenu"
      [ngClass]="{ menuOpen: isMenuOpen }"
      (click)="togglePopup()"
    ></div>
  </div>

  <div class="overlay" *ngIf="isPopupVisible" (click)="closePopup()"></div>
  <div class="popup" *ngIf="isPopupVisible" (click)="$event.stopPropagation()">
    <div class="popupMenu">
      <div class="popupMenuLink">
        <a href="#aboutMeSection" (click)="closePopup()">{{
          "MENU.ABOUT_ME" | translate
        }}</a>
      </div>
      <div class="popupMenuLink" (click)="closePopup()">
        <a href="#skillsSection">{{ "MENU.SKILLS" | translate }}</a>
      </div>
      <div class="popupMenuLink" (click)="closePopup()">
        <a href="#projectsSection">{{ "MENU.PROJECTS" | translate }}</a>
      </div>
    </div>
    <div class="popupLanguageSwitch">
      <button
        class="popupButton fontFiraCode"
        [class.selected]="currentLang === 'en'"
        (click)="switchLanguage('en')"
      >
        EN
      </button>

      <button
        class="popupButton fontFiraCode"
        [class.selected]="currentLang === 'de'"
        (click)="switchLanguage('de')"
      >
        DE
      </button>
    </div>
  </div>
</div>
