@import 'variables';

.bannerContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  .scrollingContent {
    display: flex;
    white-space: nowrap;
    animation: scroll-left 40s linear infinite;
    span {
      font-family: "Karla";
      font-size: 32px;
      color: $text-color-accent;
      display: inline-block;
      margin-right: 80px;
    }
    img {
      height: 8px;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 600px) {
  #scrollingContent {
    span {
      font-size: 24px;
      margin-right: 40px;
    }
  }
}
