@import "variables";

.projectsSection {
  background-color: $background-color-main;
  background: radial-gradient(
      circle at 102% center,
      $shadow-color 2%,
      transparent 10%
    ),
    $background-color-main;
  color: $text-color-accent;
  display: flex;
  justify-content: center;
  margin: 180px 0;
  .projectsContent {
    max-width: 1440px;
    width: 100%;
    max-height: min-content;
    height: 100%;
    .projectsBox {
      width: 75%;
      h2 {
        font-size: 24px;
        font-weight: 700;
      }
      h1 {
        font-size: 64px;
        font-weight: 700;
      }
      p {
        color: $text-color-main;
        font-size: 18px;
        font-weight: 400;
      }
      span {
        color: $text-color-main;
        font-size: 18px;
        font-weight: 400;
      }
      .projectCard {
        position: relative;
        height: 92px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        border-color: $border-color;
        cursor: pointer;
        &:hover {
          background-color: $background-color-secondary;
          .cardTitleBox h3 {
            color: $hover-color;
          }
          #techStackText {
            color: $hover-color;
          }
          .cardTitleBox img {
            visibility: visible;
          }
        }
        .cardTitleBox {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;
          img {
            visibility: hidden;
            width: 14px;
            height: 14px;
          }
          h3 {
            font-size: 24px;
            font-weight: 700;
            color: $text-color-main;
          }
        }
        span {
          font-size: 18px;
          font-weight: 400;
          color: $text-color-main;
          word-spacing: 8px;
        }
        .projectPreviewHoverBox {
          position: absolute;
          left: calc(100% + 70px);
          transform: translateY(-50%);
          display: flex;
          flex-direction: column;
          gap: 0;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s ease, visibility 0.3s ease;
          &.top100 {
            top: 100%;
          }
          &.top50 {
            top: 50%;
          }
          &.top0 {
            top: 0%;
          }
          img:first-child {
            position: relative;
            z-index: 2;
            width: 300px;
            height: 200px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 16px;
          }
          img:last-child {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1;
            width: 300px;
            height: 200px;
            opacity: 1;
            border-radius: 16px;
          }
        }
        &:hover .projectPreviewHoverBox {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  #projectsContent {
    width: 80%;
    padding: 24px 0;
  }
  #projectsBox {
    width: 100%;
  }
  #cardTitleBox {
    gap: 0px;
    img {
      display: none;
    }
  }
  #pokedexPreviewBox {
    display: none;
  }
  #joinPreviewBox {
    display: none;
  }
  #elPolloLocoPreviewBox {
    display: none;
  }
  #projectsHeader {
    font-size: 1.2rem;
  }
  #projectsMainHeader {
    font-size: 2rem;
    // text-align: center;
  }
  #projectsDescriptionText {
    font-size: 1rem;
    // text-align: center;
  }
  #projectTitle {
    font-size: 1.3rem;
    margin: 0;
  }
  #techStackText {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  #projectCard {
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #projectsMainHeader {
    text-align: center;
  }
  #projectsDescriptionText {
    text-align: center;
  }
}
