@import "variables";

.contactContainer {
  background-color: $background-color-main;
  background: radial-gradient(
      circle at 0% center,
      $shadow-color 2%,
      transparent 10%
    ),
    $background-color-main;
  display: flex;
  justify-content: center;
  margin: 180px 0;
  .contactContent {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    max-height: min-content;
    height: 100%;
    .contactMeBox {
      max-width: 570px;
      width: 100%;
      max-height: min-content;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $text-color-accent;
      h2 {
        font-size: 24px;
        font-weight: 500;
      }
      h3 {
        font-size: 64px;
        font-weight: 700;
      }
      h4 {
        font-size: 24px;
        font-weight: 700;
      }
      span {
        color: $text-color-main;
        font-size: 16px;
        font-weight: 400;
        a {
          text-decoration: none;
          cursor: pointer;
          color: $text-color-accent;
          &:hover {
            color: $hover-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .contactContent {
    flex-direction: column;
    align-items: center;
  }
  #contactContent {
    width: 80%;
    gap: 24px;
    padding: 20px 0;
  }
  #contactMeBox {
    span {
      font-size: 0.9rem;
    }
  }
  #contactTitle {
    font-size: 1.2rem;
  }
  #contactHeader {
    font-size: 2rem;
  }
  #contactSubheader {
    font-size: 1.2rem;
  }
}
