<div class="contactContainer">
  <div id="contactContent" class="contactContent">
    <div
      data-aos="zoom-in"
      data-aos-duration="750"
      id="contactMeBox"
      class="contactMeBox"
    >
      <h2 id="contactTitle" class="fontKarla">
        {{ "CONTACT.TITLE" | translate }}
      </h2>
      <h3 id="contactHeader" class="fontFiraCode">
        {{ "CONTACT.HEADER" | translate }}
      </h3>
      <h4 id="contactSubheader" class="fontFiraCode">
        {{ "CONTACT.SUBHEADER" | translate }}
      </h4>
      <span class="fontKarla">
        {{ "CONTACT.TEXT" | translate }}<br /><br />
        {{ "CONTACT.NEED_DEV" | translate }}
        <a href="#contactSection" (click)="scrollToContactForm()">{{ "CONTACT.TALK" | translate }}</a>
      </span>
    </div>
    <app-contact-form
      data-aos="zoom-in"
      data-aos-duration="750"
    ></app-contact-form>
  </div>
</div>
