@import 'variables';

section {
  .imprintContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    color: $text-color-main;
    font-family: "Karla";
    gap: 16px;
  }
  h1 {
    font-size: 42px;
    margin: 10px 0;
  }
  p {
    text-align: center;
    font-size: 18px;
    margin: 4px 0;
  }
  h2 {
    font-size: 32px;
    margin: 6px 0;
  }
  h3 {
    font-size: 24px;
    margin: 4px 0;
  }
  h4 {
    font-size: 20px;
    margin: 6px 0;
  }
  a {
    color: $text-color-accent;
    text-decoration: none;
    min-height: 48px;
    min-width: 48px;
    padding: 12px 8px;
    display: inline-block;
    line-height: 24px;
    &:hover {
      color: $hover-color;
    }
  }
}

@media (max-width: 620px) {
  .imprintContent {
    width: 90%;
  }
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
}
