.contactContainer {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  .contactContent {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    max-height: min-content;
    height: 100%;
    .contactMeBox {
      max-width: 570px;
      width: 100%;
      max-height: min-content;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #3dcfb6;
      h3 {
        font-size: 24px;
        font-weight: 500;
      }
      h1 {
        font-size: 64px;
        font-weight: 700;
      }
      h2 {
        font-size: 24px;
        font-weight: 700;
      }
      span {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        a {
          text-decoration: none;
          color: #3dcfb6;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .contactContent {
    flex-direction: column;
    align-items: center;
  }
  #contactContent {
    width: 80%;
    gap: 24px;
    padding: 20px 0;
  }
  #contactMeBox {
    span {
      font-size: 0.9rem;
    }
  }
  #contactTitle {
    font-size: 1.2rem;
  }
  #contactHeader {
    font-size: 2rem;
  }
  #contactSubheader {
    font-size: 1.2rem;
  }
}
