<div class="contactContainer">
  <div id="contactContent" class="contactContent">
    <div
      id="contactMeBox"
      class="contactMeBox"
      data-aos="fade-right"
      data-aos-offset="1100"
      data-aos-duration="750"
      data-aos-easing="ease-in-out"
    >
      <h3 id="contactTitle" class="fontKarla">
        {{ "CONTACT.TITLE" | translate }}
      </h3>
      <h1 id="contactHeader" class="fontFiraCode">
        {{ "CONTACT.HEADER" | translate }}
      </h1>
      <h2 id="contactSubheader" class="fontFiraCode">
        {{ "CONTACT.SUBHEADER" | translate }}
      </h2>
      <span class="fontKarla">
        {{ "CONTACT.TEXT" | translate }}<br /><br />
        {{ "CONTACT.NEED_DEV" | translate }}
        <a (click)="scrollToContactForm()">{{ "CONTACT.TALK" | translate }}</a>
      </span>
    </div>
    <app-contact-form
      data-aos="fade-left"
      data-aos-offset="1100"
      data-aos-duration="750"
      data-aos-easing="ease-in-out"
    ></app-contact-form>
  </div>
</div>
