<div class="contactContainer">
  <div class="contactContent">
    <div class="contactMeBox">
      <h3 class="fontKarla">Contact me</h3>
      <h1 class="fontFiraCode">Let´s work together</h1>
      <h2 class="fontFiraCode">Got a problem to solve?</h2>
      <span class="fontKarla"
        >Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.<br>
        <br>
        Need a Frontend developer? <a href="#">Let’s talk!</a>
      </span>
    </div>
    <app-contact-form></app-contact-form>
  </div>
</div>
