<footer>
  <div class="footerContent">
    <div class="leftFooterContainer">
      <div class="logo"></div>
      <div class="smallInfos">
        <span class="fontKarla">Web Developer</span>
        <span class="fontKarla">Bispingen Germany</span>
      </div>
    </div>
    <div class="middleFooterContainer">
      <span class="fontFiraCode">© Bastian Thoma 2025</span>
    </div>
    <div class="rightFooterContainer">
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a class="footerLink" href="#">Github</a>
      </div>
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a class="footerLink" href="#">LinkedIn</a>
      </div>
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a class="footerLink" href="#">Email</a>
      </div>
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a class="footerLink" href="#">Legal Notice</a>
      </div>
    </div>
  </div>
</footer>
