footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: #1c1c1c;
  padding-bottom: 64px;
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    max-width: 1440px;
    .leftFooterContainer {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .logo {
        width: 140px;
        height: 48px;
        background-image: url("/assets/img/logo_full_color_cutted.png");
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background-image: url("/assets/img/logo_full_outline_cutted.png");
          transform: scale(0.95);
        }
      }
      .smallInfos {
        display: flex;
        flex-direction: column;
        gap: 8px;
        span {
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    .middleFooterContainer {
      display: flex;
      justify-content: center;
      span {
        color: #3dcfb6;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }
    }
    .rightFooterContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100px;
      height: 100px;
      pointer-events: auto;
      gap: 8px;
      .radioButtonMask {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        &:hover .radioButton {
          opacity: 1;
        }
        .radioButton {
          opacity: 0;
          transition: opacity 0.3s;
        }
        .footerLink {
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;
          color: #ffffff;
          white-space: nowrap;
          &:hover {
            color: #3dcfb680;
          }
        }
      }
    }
  }
  .middleFooterMobile {
    display: none;
    text-align: center;
    span {
      color: #3dcfb6;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
  }
}

@media (min-width: 800px) and (max-width: 1650px) {
  .footerContent {
    width: 70% !important;
  }
}

@media (max-width: 800px) {
  .footerContent {
    width: 80% !important;
  }
  .middleFooterContainer {
    display: none !important;
  }
  .middleFooterMobile {
    display: block !important;
    margin-top: 40px !important;
  }
  .logo {
    width: 100px !important;
    height: 38px !important;
  }
  .smallInfos span {
    font-size: 14px !important;
  }
  .footerLink {
    font-size: 14px !important;
    white-space: normal !important;
    word-break: break-word;
  }
  .rightFooterContainer {
    width: 110px !important;
  }
}
