<footer>
  <div class="footerContent">
    <div class="leftFooterContainer">
      <div class="logo"></div>
      <div class="smallInfos">
        <span class="fontKarla">{{ 'FOOTER.WEB_DEVELOPER' | translate }}</span>
        <span class="fontKarla">{{ 'FOOTER.LOCATION' | translate }}</span>
      </div>
    </div>
    <div class="middleFooterContainer">
      <span class="fontFiraCode">© Bastian Thoma 2025</span>
    </div>
    <div class="rightFooterContainer">
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a class="footerLink" href="#">GitHub</a>
      </div>
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a class="footerLink" href="#">LinkedIn</a>
      </div>
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a class="footerLink" href="#">Email</a>
      </div>
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a class="footerLink" href="#">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a>
      </div>
    </div>
  </div>
  <div class="middleFooterMobile">
    <span class="fontFiraCode">© Bastian Thoma 2025</span>
  </div>
</footer>
