<footer>
  <div class="footerContent">
    <div class="leftFooterContainer">
      <div id="footerLogo" class="logo" (click)="scrollToTop()"></div>
      <div id="smallInfos" class="smallInfos">
        <span class="fontKarla">{{ "FOOTER.WEB_DEVELOPER" | translate }}</span>
        <span class="fontKarla">{{ "FOOTER.LOCATION" | translate }}</span>
      </div>
    </div>
    <div id="middleFooterContainer" class="middleFooterContainer">
      <span class="fontFiraCode">© Bastian Thoma 2025</span>
    </div>
    <div class="rightFooterContainer">
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a
          id="footerLink"
          class="footerLink"
          href="https://github.com/BastianThoma"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a
          id="footerLink"
          class="footerLink"
          href="https://www.linkedin.com/in/bastian-thoma"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >
      </div>
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a id="footerLink" class="footerLink" href="imprint">{{
          "FOOTER.IMPRINT" | translate
        }}</a>
      </div>
      <div class="radioButtonMask fontFiraCode">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          alt=""
        />
        <a id="footerLink" class="footerLink" href="privacy-policy">{{
          "FOOTER.PRIVACY_POLICY" | translate
        }}</a>
      </div>
    </div>
  </div>
  <div id="middleFooterMobile" class="middleFooterMobile">
    <span class="fontFiraCode">© Bastian Thoma 2025</span>
  </div>
</footer>
