<app-landing-page></app-landing-page>
<!-- <div class="gapContainer"></div> -->
<app-about-me id="aboutMeSection"></app-about-me>
<!-- <div class="gapContainer"></div> -->
<app-skills id="skillsSection"></app-skills>
<!-- <div class="gapContainer"></div> -->
<app-projects id="projectsSection"></app-projects>
<!-- <div class="gapContainer"></div> -->
<app-feedback></app-feedback>
<!-- <div class="gapContainer"></div> -->
<app-contact id="contactSection"></app-contact>
<!-- <div class="gapContainer"></div> -->
