.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);
  .landingPageContent {
    display: flex;
    justify-content: center;
    .landingPageCatcher {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1440px;
      width: 100%;
      h2 {
        margin: 0;
        font-size: 40px;
        font-weight: 400;
        color: #d9d9d9;
      }
      .titleContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        h1 {
          margin: 0;
          font-size: 128px;
          font-weight: 700;
          color: #d9d9d9;
        }
        .forwardingButtonBox {
          display: flex;
          justify-content: center;
          width: min-content;
          height: min-content;
          gap: 48px;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 48px;
            padding: 0 24px;
            border: solid 2px #ffffff;
            border-radius: 100px;
            background-color: transparent;
            color: #ffffff;
            font-size: 18px;
            overflow: hidden;
            text-decoration: none;
            span {
              display: inline-block;
              white-space: nowrap;
              transform: translateX(0);
              opacity: 1;
              transition: none;
            }
            &:hover {
              border: solid 2px #3dcfb680;
              color: #3dcfb680;
              cursor: pointer;

              span {
                animation: slide-text 4s ease-in-out infinite;
              }
            }
          }
        }
      }
    }
  }
  .lateralContainer {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    bottom: 0;
    width: 90%;
    max-width: 1440px;
    pointer-events: none;
    .scrollDownHelper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      pointer-events: auto;
      .arrowBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 48px;
        border-radius: 32px;
        border: solid 2px #3dcfb6;
        cursor: pointer;
        img {
          animation: bounceArrow 2s infinite ease-in-out;
        }
      }
      .pixelLineLeft {
        width: 0px;
        height: 240px;
        border: solid 1px #3dcfb6;
      }
    }
    .heroQuickLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      pointer-events: auto;
      .radioButtonMask {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          #mailLogo {
            transform: rotate(180deg);
          }
          #mailAdress {
            margin: 0;
          }
        }
        .radioButton {
          position: relative;
          left: 8px;
        }
      }
      a {
        text-decoration: none;
        &:active + .hidden {
          opacity: 1;
        }
        &:hover + .hidden {
          opacity: 1;
        }
      }
      .heroMailLink {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 18px;
        color: #ffffff;
        &:hover {
          color: #3dcfb680;
        }
      }
      .pixelLineRight {
        width: 0px;
        height: 180px;
        border: solid 1px #3dcfb6;
      }
    }
  }
  .infoBanner {
    position: absolute;
    bottom: 60px;
    background-color: #ffffff1f;
    width: 99%;
    max-width: 1510px;
    height: 62px;
    backdrop-filter: blur(5.3px);
    transform: rotate(-3deg);
    border-radius: 16px;
    box-shadow: inset -10px 0 10px rgba(0, 0, 0, 0.499),
      inset 10px 0 10px rgba(0, 0, 0, 0.499);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150%;
      filter: blur(5px);
      z-index: -1;
      border-radius: 16px;
    }
  }
}

@media screen and (min-width: 1800px) {
  #infoBanner {
    width: 95%;
    max-width: 1750px;
  }
}

@media screen and (max-width: 1600px) {
  #professionalText {
    font-size: 1.8rem;
  }
  #mainHeadline {
    font-size: 4rem;
  }
}

@media screen and (max-width: 600px) {
  #professionalText {
    font-size: 1.2rem;
  }
  #mainHeadline {
    font-size: 2.5rem;
  }
  #forwardingButtonBox {
    flex-direction: column;
    gap: 8px;
    a {
      width: 75px;
      height: 40px;
      font-size: 14px;
    }
  }
  #mailAdress {
    display: none;
  }
  #pixelLineLeft {
    height: 140px;
  }
  #pixelLineRight {
    height: 140px;
  }
  #heroQuickLinks {
    gap: 10px;
  }
  #heroLinkedinLink {
    display: none;
  }
  #infoBanner {
    width: 95%;
    bottom: 42px;
    height: 48px;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  #professionalText {
    font-size: 1.2rem;
  }
  #mainHeadline {
    font-size: 2.5rem;
  }
  #forwardingButtonBox {
    flex-direction: row;
    gap: 8px;
    a {
      width: 75px;
      height: 40px;
      font-size: 14px;
    }
  }
  #mailAdress {
    display: none;
  }
  #pixelLineLeft {
    height: 140px;
  }
  #pixelLineRight {
    height: 140px;
  }
  #heroQuickLinks {
    gap: 10px;
  }
  #heroLinkedinLink {
    display: none;
  }
  #infoBanner {
    width: 95%;
    bottom: 24px;
    height: 48px;
  }
}
