<div class="landingPage">
  <div class="landingPageContent">
    <div class="landingPageCatcher">
      <h2 class="fontFiraCode">{{ 'LANDING_PAGE.FRONTEND_DEVELOPER' | translate }}</h2>
      <div class="titleContent">
        <h1 class="fontKarla">{{ 'LANDING_PAGE.BASTIAN_THOMA' | translate }}</h1>
        <div>
          <button class="fontKarla"><span>{{ 'LANDING_PAGE.CHECK_MY_WORK' | translate }}</span></button>
          <button class="fontKarla"><span>{{ 'LANDING_PAGE.CONTACT_ME' | translate }}</span></button>
        </div>
      </div>
    </div>
    <div class="lateralContainer">
      <div class="scrollDownHelper">
        <div class="arrowBox">
          <img src="/assets/img/arrow_down.png" alt="Arrow Down" height="16px" />
        </div>
        <div class="pixelLineLeft"></div>
      </div>

      <div class="heroQuickLinks">
        <div class="radioButtonMask">
          <a id="mailToMe" class="heroMailLink fontKarla" href="mailto:ossi_1993@hotmail.de">
            <img id="mailLogo" src="/assets/img/colored-icons/mail_colored.png" alt="Mail Logo" width="32px" height="32px"/>
            <span id="mailAdress">contact&#64;webdevelopment-thoma.de</span>
          </a>
          <img class="radioButton hidden" src="/assets/img/radio_button_unchecked.svg" width="8px" height="8px"/>
        </div>
        <div class="radioButtonMask">
          <a href="https://github.com/BastianThoma" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/Github.png" alt="GitHub Logo" width="32px" height="32px"/>
          </a>
          <img class="radioButton hidden" src="/assets/img/radio_button_unchecked.svg" width="8px" height="8px"/>
        </div>
        <div class="radioButtonMask">
          <a
          href="https://www.linkedin.com/in/bastian-thoma-0972a0336"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            src="/assets/img/Linkedin.png"
            alt="LinkedIn Logo"
            width="32px"
            height="32px"
          /></a>
          <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.svg"
          width="8px"
          height="8px"
          />
          </div>
        <div class="radioButtonMask">
          <div class="pixelLineRight"></div>
          <img
            class="radioButton hidden"
            src="/assets/img/radio_button_unchecked.svg"
            width="8px"
            height="8px"
          />
        </div>
      </div>
    </div>
    <div class="infoBanner">
      <app-scrolling-banner></app-scrolling-banner>
    </div>
  </div>
</div>
