body {
  margin: 0;
  background-color: #1c1c1c;
  --sb-track-color: #1c1c1c;
  --sb-thumb-color: #3dcfb6;
  --sb-size: 10px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

html {
  scroll-behavior: smooth;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.cursorPointer {
  cursor: pointer;
}

.marginTop32 {
  margin-top: 32px;
}

.borderTopTwoPixel {
  border-top: solid 2px;
}

.borderBotTwoPixel {
  border-bottom: solid 2px;
}

.fontFiraCode {
  font-family: "Fira Code";
}

.fontKarla {
  font-family: "Karla";
}

.fontSize128 {
  font-size: 128px;
}

.fontSize64 {
  font-size: 64px;
}

.fontSize40 {
  font-size: 40px;
}

.fontSize32 {
  font-size: 32px;
}

.fontSize24 {
  font-size: 24px;
}

.fontSize20 {
  font-size: 20px;
}

.fontSize18 {
  font-size: 18px;
}

.fontSize16 {
  font-size: 16px;
}

.fontSize12 {
  font-size: 12px;
}

.fontWeight700 {
  font-weight: 700;
}

.fontWeight500 {
  font-weight: 500;
}

.fontWeight400 {
  font-weight: 400;
}

@keyframes slide-text {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX(-150%);
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  50% {
    transform: translateX(150%);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  75% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounceArrow {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
