<div class="popupOverlay" *ngIf="isPopupVisible" (click)="closePopup()">
  <div
    id="popupContent"
    class="popupContent"
    (click)="$event.stopPropagation()"
  >
    <div
      id="mobileCloseButton"
      class="mobileCloseButton"
      (click)="closePopup()"
    ></div>
    <div id="descriptionBox" class="descriptionBox">
      <h2 class="fontKarla">{{ currentProject.projectNumber }}</h2>
      <h3 class="fontFiraCode">{{ currentProject.projectTitle }}</h3>
      <h4 class="fontFiraCode">
        {{ currentProject.projectDescriptionTitle | translate }}
      </h4>
      <p class="fontKarla">
        {{ currentProject.projectDescription | translate }}
      </p>

      <div id="techStack" class="techStack fontKarla">
        <div *ngFor="let tech of currentProject.techStack">
          <img [src]="tech.icon" alt="" role="presentation" />
          <span>{{ tech.name }}</span>
        </div>
      </div>

      <div id="popupButtons" class="popupButtons">
        <button (click)="openLink(currentProject.githubLink)">
          <span>GitHub</span>
          <img src="/assets/img/arrow_outward_colored.png" alt="" role="presentation" />
        </button>
        <button (click)="openLink(currentProject.liveTestLink)">
          <span>Live Test</span>
          <img src="/assets/img/arrow_outward_colored.png" alt="" role="presentation" />
        </button>
      </div>
    </div>
    <div
      id="mobileNextButtonBox"
      class="mobileNextButtonBox fontKarla"
      (click)="nextProject()"
    >
      <span>{{ "POPUP.NEXT_PROJECT" | translate }}</span>
      <img src="/assets/img/arrow_forward_colored.png" alt="" role="presentation" />
    </div>

    <div id="imageBox" class="imageBox">
      <div
        class="closeButton"
        (click)="closePopup()"
      ></div>
      <img
        class="projectPreviewImg"
        [src]="currentProject.projectImage"
        [attr.alt]="currentProject.projectImageAlt | translate"
      />
      <div
        class="nextButtonBox fontKarla"
        (click)="nextProject()"
      >
        <span>{{ "POPUP.NEXT_PROJECT" | translate }}</span>
        <img src="/assets/img/arrow_forward_colored.png" alt="" role="presentation" />
      </div>
    </div>
  </div>
</div>
