form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 670px;
  width: 100%;
  #privacyContainer {
    height: 70px;
  }
  .labelContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    .inputBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 32px 0px;
      gap: 16px;
      background-color: transparent;
      margin: 0;
      color: #3dcfb6;
      border-color: #3dcfb680;
      font-size: 24px;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      span {
        padding-left: 32px;
      }
      input {
        padding-left: 32px;
        border: none;
        outline: none;
        color: #3dcfb6;
        background-color: transparent;
        font-size: 18px;
        font-weight: 400;
        cursor: text;
        &::placeholder {
          font-family: "Karla";
          color: #ffffffcc;
        }
      }
      .invalidEffect {
        animation: invalidShake 0.3s ease-in-out;
        color: #ff2020;
      }
      @keyframes invalidShake {
        0%,
        100% {
          transform: translateX(0);
        }
        25% {
          transform: translateX(-4px);
        }
        50% {
          transform: translateX(4px);
        }
        75% {
          transform: translateX(-4px);
        }
      }

      input:focus {
        outline: none;
        border-radius: 4px;
        box-shadow: 0px 0px 6px 2px #3dcfb6;
        transition: box-shadow 0.3s ease;
        font-family: "Karla";
      }

      input::placeholder {
        color: #ffffffcc;
        font-family: "Karla";
      }

      input:invalid:focus::placeholder {
        color: #ffffffcc;
        font-family: "Karla";
      }

      input:invalid:not(:focus):placeholder-shown {
        color: #ec7b7b;
        font-family: "Karla";
      }

      input:invalid {
        border-color: #ec7b7b;
        font-family: "Karla";
      }

      input:valid {
        border-color: green;
        font-family: "Karla";
      }

      input.ng-invalid.ng-touched {
        outline: none;
        border-radius: 4px;
        box-shadow: 0px 0px 6px 2px #ec7b7b;
        transition: box-shadow 0.3s ease;
      }

      input.ng-touched.ng-invalid::placeholder {
        color: #ec7b7b;
      }
    }
    .messageBox {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 32px 0px;
      gap: 16px;
      background-color: transparent;
      margin: 0;
      color: #3dcfb6;
      border-color: #3dcfb680;
      font-size: 24px;
      font-weight: 500;
      cursor: pointer;
      span {
        padding-left: 32px;
      }
      input {
        padding-left: 32px;
        border: none;
        outline: none;
        color: #3dcfb6;
        background-color: transparent;
        font-size: 18px;
        font-weight: 400;
        cursor: text;
        &::placeholder {
          font-family: "Karla";
          color: #ffffffcc;
        }
      }

      input:focus {
        outline: none;
        border-radius: 4px;
        box-shadow: 0px 0px 6px 2px #3dcfb6;
        transition: box-shadow 0.3s ease;
        font-family: "Karla";
      }

      input::placeholder {
        color: #ffffffcc;
        font-family: "Karla";
      }

      input:invalid:focus::placeholder {
        color: #ffffffcc;
        font-family: "Karla";
      }
      input:invalid:not(:focus):placeholder-shown {
        color: #ec7b7b;
        font-family: "Karla";
      }

      input:invalid {
        border-color: #ec7b7b;
        font-family: "Karla";
      }

      input:valid {
        border-color: green;
        font-family: "Karla";
      }

      input.ng-invalid.ng-touched {
        outline: none;
        border-radius: 4px;
        box-shadow: 0px 0px 6px 2px #ec7b7b;
        transition: box-shadow 0.3s ease;
        font-family: "Karla";
      }

      input.ng-touched.ng-invalid::placeholder {
        color: #ec7b7b;
        font-family: "Karla";
      }
    }
    .customCheckbox {
      margin: 24px 0;
      display: flex;
      align-items: center;
      gap: 8px;

      input[type="checkbox"] {
        appearance: none;
        width: 24px;
        height: 24px;
        border: 2px solid #3dcfb6;
        border-radius: 8px;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        &:checked {
          border-color: #3dcfb6;
          background-color: #3dcfb740;
        }
        &:checked::before {
          content: "✓";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 16px;
          color: #ffffff;
          font-weight: bold;
        }
      }

      .checkmark {
        margin-left: 8px;
        font-size: 14px;
        color: #000;
      }

      .checkBoxText {
        color: #ffffff;
      }

      a {
        color: #3dcfb6;
        text-decoration: none;
      }
    }
    .errorMessage {
      position: relative;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: 30px;
      color: #ec7b7b;
      font-size: 18px;
      margin-top: 4px;
      small {
        margin: 0;
        position: absolute;
        top: -20px;
        z-index: 2;
      }
    }
  }
  .popup {
    visibility: hidden;
    min-width: 350px;
    max-width: 80%;
    background-color: #333;
    color: #3dcfb6;
    text-align: center;
    border-radius: 16px;
    padding: 32px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }

  .popup.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
  }

  .submitButton {
    margin-top: 40px;
    height: 48px;
    border: solid 2px #ffffff;
    background-color: transparent;
    border-radius: 100px;
    padding: 0 24px;
    gap: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      border: solid 2px #3dcfb680;
      color: #3dcfb680;
    }
    &:disabled {
      border: solid 2px #ffffff80;
      color: #ffffff80;
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #inputBox {
    font-size: 1rem;
    padding: 16px 0;
    span {
      padding-left: 8px;
    }
    input {
      padding-left: 8px;
    }
  }
  #name {
    font-size: 0.8rem;
  }
  #email {
    font-size: 0.8rem;
  }
  #messageBox {
    font-size: 1rem;
    padding: 16px 0;
    span {
      padding-left: 8px;
    }
    input {
      padding-left: 8px;
    }
  }
  #message {
    font-size: 0.8rem;
  }
  #checkBoxText {
    font-size: 0.8rem;
  }
  #errorMessage {
    font-size: 0.8rem;
  }
  #submitButton {
    font-size: 0.8rem;
  }
  #checkboxInput {
    width: 20px;
    height: 20px;
  }
}
