<section>
  <div class="imprintContent">
    <h2 id="imprint">{{ "IMPRINT.TITLE" | translate }}</h2>
    <p>
      Bastian Thoma <br />
      Volkwardingen 24A <br />
      29646 Bispingen
    </p>

    <h2>{{ "IMPRINT.CONTACT" | translate }}</h2>

    <p>
      {{ "IMPRINT.PHONE" | translate }}
      <a href="tel:01608322057">0160/8322057</a><br />
      {{ "IMPRINT.EMAIL" | translate }}
      <a href="mailto:contact@bastian-thoma.de"
        >contact&#64;bastian-thoma.de</a
      >
    </p>
    <p>
      {{ "IMPRINT.SOURCE" | translate }}
      <a
        href="https://www.e-recht24.de"
        target="_blank"
        rel="noopener noreferrer"
        >eRecht24.de</a
      >
    </p>
  </div>
</section>
