<section>
    <h1 id="imprint">{{'imprint-headline' | translate}}</h1>
    <h2 id="m46">{{'imprint-subheadline' | translate}}</h2>
    <p>Bastian Thoma</p>
    <p>Volkwardingen 24A</p>
    <p>29646 Bispingen</p>

    <h2 id="m56">{{'imprint-contact' | translate}}</h2>
    <p>contact&#64;webdevelopment-thoma.de</p>

    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
            rel="noopener noreferrer nofollow">{{'imprint-generate' | translate}}</a>
    </p>
</section>