<div class="landingPage">
  <div id="particles-js" class="particles-background"></div>

  <div class="landingPageContent">
    <div class="landingPageCatcher">
      <h1 id="professionalText" class="fontFiraCode">
        {{ "LANDING_PAGE.FRONTEND_DEVELOPER" | translate }}
      </h1>
      <div class="titleContent">
        <h2 id="mainHeadline" class="fontKarla">
          {{ "LANDING_PAGE.BASTIAN_THOMA" | translate }}
        </h2>
        <div id="forwardingButtonBox" class="forwardingButtonBox">
          <a href="#projectsSection" class="fontKarla"
            ><span>{{ "LANDING_PAGE.CHECK_MY_WORK" | translate }}</span></a
          >
          <a class="fontKarla" (click)="scrollToContactForm()"
            ><span>{{ "LANDING_PAGE.CONTACT_ME" | translate }}</span></a
          >
        </div>
      </div>
    </div>
    <div class="lateralContainer">
      <div class="scrollDownHelper">
        <a href="#aboutMeSection" class="arrowBox">
          <img
            src="/assets/img/arrow_down.png"
            alt="Arrow Down"
            height="16px"
          />
        </a>
        <div id="pixelLineLeft" class="pixelLineLeft"></div>
      </div>

      <div id="heroQuickLinks" class="heroQuickLinks">
        <div class="radioButtonMask">
          <a
            id="mailToMe"
            class="heroMailLink fontKarla"
            href="mailto:contact@bastian-thoma.de"
            [attr.aria-label]="'LANDING_PAGE.EMAIL_ARIA_LABEL' | translate"
          >
            <img
              id="mailLogo"
              src="/assets/img/colored-icons/mail_colored.png"
              alt=""
              width="32px"
              height="32px"
            />
            <span id="mailAdress">contact&#64;bastian-thoma.de</span>
          </a>
          <img
            class="radioButton hidden"
            src="/assets/img/radio_button_unchecked.png"
            width="8px"
            height="8px"
          />
        </div>
        <div class="radioButtonMask" id="heroGithubLink">
          <a
            href="https://github.com/BastianThoma"
            target="_blank"
            rel="noopener noreferrer"
            [attr.aria-label]="'LANDING_PAGE.GITHUB_ARIA_LABEL' | translate"
          >
            <img
              src="/assets/img/github.png"
              alt=""
              width="32px"
              height="32px"
            />
          </a>
          <img
            class="radioButton hidden"
            src="/assets/img/radio_button_unchecked.png"
            width="8px"
            height="8px"
          />
        </div>
        <div class="radioButtonMask" id="heroLinkedinLink">
          <a
            href="https://www.linkedin.com/in/bastian-thoma"
            target="_blank"
            rel="noopener noreferrer"
            [attr.aria-label]="'LANDING_PAGE.LINKEDIN_ARIA_LABEL' | translate"
            ><img
              src="/assets/img/linkedin.png"
              alt=""
              width="32px"
              height="32px"
          /></a>
          <img
            class="radioButton hidden"
            src="/assets/img/radio_button_unchecked.png"
            width="8px"
            height="8px"
          />
        </div>
        <div class="radioButtonMask">
          <div id="pixelLineRight" class="pixelLineRight"></div>
          <img
            class="radioButton hidden"
            src="/assets/img/radio_button_unchecked.png"
            width="8px"
            height="8px"
          />
        </div>
      </div>
    </div>
    <div id="infoBanner" class="infoBanner">
      <app-scrolling-banner></app-scrolling-banner>
    </div>
  </div>
</div>
