<section>
  <div class="privacyContent">
    <h1>{{ "PRIVACY_POLICY.TITLE" | translate }}</h1>
    <h2>{{ "PRIVACY_POLICY.INTRODUCTION" | translate }}</h2>
    <h3>{{ "PRIVACY_POLICY.GENERAL_INFO" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.GENERAL_INFO_TEXT" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.DATA_COLLECTION" | translate }}</h3>
    <h4>{{ "PRIVACY_POLICY.RESPONSIBLE" | translate }}</h4>
    <p>
      {{ "PRIVACY_POLICY.RESPONSIBLE_TEXT" | translate }}
    </p>
    <h4>{{ "PRIVACY_POLICY.HOW_WE_COLLECT" | translate }}</h4>
    <p>
      {{ "PRIVACY_POLICY.HOW_WE_COLLECT_TEXT" | translate }}
    </p>
    <h4>
      {{ "PRIVACY_POLICY.USAGE" | translate }}
    </h4>
    <p>{{ "PRIVACY_POLICY.USAGE_TEXT" | translate }}</p>
    <h4>
      {{ "PRIVACY_POLICY.RIGHTS" | translate }}
    </h4>
    <p>{{ "PRIVACY_POLICY.RIGHTS_TEXT" | translate }}</p>
    <h2>
      {{ "PRIVACY_POLICY.HOSTING" | translate }}
    </h2>
    <p>
      {{ "PRIVACY_POLICY.HOSTING_TEXT" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.HOSTING_PROVIDER" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.HOSTING_PROVIDER_DETAILS" | translate }}

      <a
        href="https://all-inkl.com/datenschutzinformationen/"
        target="_blank"
        rel="noopener noreferrer"
        >https://all-inkl.com/datenschutzinformationen/</a
      >.
    </p>
    <p>{{ "PRIVACY_POLICY.HOSTING_LEGAL_BASIS" | translate }}</p>
    <h3>
      {{ "PRIVACY_POLICY.DATA_PROCESSING" | translate }}
    </h3>
    <p>
      {{ "PRIVACY_POLICY.DATA_PROCESSING_TEXT" | translate }}
    </p>
    <h2>{{ "PRIVACY_POLICY.GENERAL_INFO_OBLIGATIONS" | translate }}</h2>
    <h3>
      {{ "PRIVACY_POLICY.DATA_PROTECTION" | translate }}
    </h3>
    <p>{{ "PRIVACY_POLICY.DATA_PROTECTION_TEXT" | translate }}</p>
    <h3>{{ "PRIVACY_POLICY.RESPONSIBLE_NOTICE" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.RESPONSIBLE_ENTITY" | translate }}
    </p>
    <p>
      Bastian Thoma <br />
      Volkwardingen 24A <br />
      29646 Bispingen <br />
    </p>
    <p>
      {{ "PRIVACY_POLICY.RESPONSIBLE_PHONE" | translate }}
      <a href="tel:01608322057">0160/8322057</a>
      <br />
      {{ "PRIVACY_POLICY.RESPONSIBLE_EMAIL" | translate }}
      <a href="mailto:ossi_1993@hotmail.de"
        >contact&#64;webdevelopment-thoma.de</a
      >
    </p>
    <p>{{ "PRIVACY_POLICY.RESPONSIBLE_ENTITY_TEXT" | translate }}</p>
    <h3>{{ "PRIVACY_POLICY.STORAGE_DURATION" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.STORAGE_DURATION_TEXT" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.LEGAL_BASIS_INFO" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.LEGAL_BASIS_INFO_TEXT" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.DATA_RECIPIENTS" | translate }}
    </h3>
    <p>
      {{ "PRIVACY_POLICY.DATA_RECIPIENTS_TEXT" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.CONSENT_WITHDRAWAL" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.CONSENT_WITHDRAWAL_TEXT" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.OBJECTION_RIGHT" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.OBJECTION_RIGHT_TEXT" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.COMPLAINT_RIGHT" | translate }}
    </h3>
    <p>
      {{ "PRIVACY_POLICY.COMPLAINT_RIGHT_TEXT" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.DATA_PORTABILITY" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.DATA_PORTABILITY_TEXT" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.ACCESS_CORRECTION_DELETION" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.ACCESS_CORRECTION_DELETION_TEXT" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.PROCESSING_RESTRICTION" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.PROCESSING_RESTRICTION_TEXT" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.SSL_TLS_ENCRYPTION" | translate }}
    </h3>
    <p>
      {{ "PRIVACY_POLICY.SSL_TLS_ENCRYPTION_TEXT" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.AD_EMAIL_OBJECTION" | translate }}
    </h3>
    <p>
      {{ "PRIVACY_POLICY.AD_EMAIL_OBJECTION_TEXT" | translate }}
    </p>
    <h2>
      {{ "PRIVACY_POLICY.DATA_COLLECTION_WEBSITE" | translate }}
    </h2>
    <h3>{{ "PRIVACY_POLICY.CONTACT_FORM" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.CONTACT_FORM_TEXT" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.REQUEST_BY_EMAIL_PHONE_FAX" | translate }}
    </h3>
    <p>{{ "PRIVACY_POLICY.REQUEST_BY_EMAIL_PHONE_FAX_TEXT" | translate }}</p>
    <p>
      {{ "PRIVACY_POLICY.DATA_PROCESSING_LEGAL_BASIS" | translate }}
    </p>
    <p>{{ "PRIVACY_POLICY.DATA_RETENTION" | translate }}</p>
    <p>
      {{ "PRIVACY_POLICY.SOURCE" | translate }}
      <a href="https://www.e-recht24.de">eRecht24.de</a>
    </p>
  </div>
</section>
