.skillsSection {
  background-color: #1c1c1c;
  background: radial-gradient(
      circle at -6% center,
      #08463bbd 5%,
      transparent 16%
    ),
    #1c1c1c;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  .skillsContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    max-height: min-content;
    height: 100%;
    .skillsetBoxContent {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .highlightQuestion {
        margin-top: 32px;
        font-size: 24px;
        font-weight: 700;
      }
      .reachOutText {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .letsTalkButton {
      margin-top: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 48px;
      padding: 0 24px;
      border: solid 2px #ffffff;
      border-radius: 100px;
      background-color: transparent;
      font-size: 18px;
      font-weight: 400;
      overflow: hidden;
      a {
        text-decoration: none;
        color: #ffffff;
        span {
          display: inline-block;
          white-space: nowrap;
          transform: translateX(0);
          opacity: 1;
          transition: none;
        }
      }
      &:hover {
        a {
          color: #3dcfb680;
        }
        border: solid 2px #3dcfb680;
        cursor: pointer;
        span {
          animation: slide-text 4s ease-in-out infinite;
        }
      }
    }
    .skillsetIconBox {
      color: #ffffff;
      display: flex;
      flex-wrap: wrap;
      max-width: 568px;
      width: 100%;
      max-height: min-content;
      width: 100%;
      gap: 65px;
      .skillItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 64px;
        text-align: center;
        cursor: pointer;
        position: relative;
        transition: transform 0.3s ease;
        &:hover img {
          animation: bounce 0.6s ease infinite;
        }
        &:hover p {
          color: #3dcfb6;
        }
        img {
          width: 60px;
          height: 60px;
          transition: 0.3s ease;
        }
        &.specialSkill {
          img {
            transition: none;
          }
          p {
            color: white;
            transition: color 0.3s ease;
          }
          &:hover {
            img {
              animation: none;
              transform: scale(1.15);
            }
            p {
              color: #3dcfb6;
            }
            .speechBubble {
              opacity: 1;
              visibility: visible;
            }
          }
          .speechBubble {
            position: absolute;
            top: -130px;
            left: -40px;
            transform: translateX(-50%);
            width: 180px;
            height: auto;
            padding: 0 12px;
            background-color: #1f2e2c;
            border-radius: 16px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0s 0.3s;
            display: flex;
            flex-direction: column;
            gap: 8px;
            &::after {
              content: "";
              position: absolute;
              bottom: -12px;
              left: 150px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 24px 24px 0 24px;
              border-color: #1f2e2c transparent transparent transparent;
            }
            .speechText {
              font-size: 16px;
              font-weight: 400;
              color: #3dcfb6;
              word-wrap: break-word;
            }
            .specialSkills {
              display: flex;
              justify-content: center;
              gap: 16px;
              .specialSkillIcon {
                text-align: center;
                img {
                  width: 32px;
                  height: 32px;
                }
                p {
                  font-size: 12px;
                  font-weight: 700;
                  color: #3dcfb6;
                }
              }
            }
          }
        }
      }
    }
  }
}
.whiteText {
  color: #ffffff;
}

.mintText {
  color: #3dcfb6;
}

@media screen and (max-width: 1600px) {
  #skillsContent {
    flex-direction: column;
    width: 80%;
    gap: 24px;
    padding: 20px 0;
  }
  #skillsetIconBox {
    justify-content: center;
    gap: 36px;
  }
}
