<div class="skillsSection">
  <div id="skillsContent" class="skillsContent">
    <app-section-card
      data-aos="zoom-in"
      data-aos-offset="500"
      data-aos-easing="ease-in-out"
      id="skillsetCard"
      [sectionTitle]="'SKILLS.TECHNOLOGIES' | translate"
      [mainHeading]="'SKILLS.SKILL_SET' | translate"
      [mainText]="'SKILLS.MAIN_TEXT' | translate"
    >
      <div class="skillsetBoxContent">
        <span class="highlightQuestion fontFiraCode">
          <span class="whiteText">{{ "SKILLS.YOU_NEED" | translate }}</span>
          <span class="mintText">{{ "SKILLS.ANOTHER_SKILL" | translate }}</span>
        </span>
        <span class="reachOutText whiteText fontKarla">
          {{ "SKILLS.REACHOUT_TEXT" | translate }}
        </span>
      </div>
      <button class="letsTalkButton fontKarla" (click)="scrollToContactForm()">
        <a
          ><span>{{ "SKILLS.LETS_TALK" | translate }}</span></a
        >
      </button>
    </app-section-card>

    <div
      id="skillsetIconBox"
      class="skillsetIconBox"
      data-aos="zoom-in-up"
      data-aos-offset="700"
      data-aos-easing="ease-in-out"
    >
      <div
        *ngFor="let skill of skills; let i = index"
        class="skillItem fontKarla"
        [ngClass]="{ specialSkill: skill.label === 'Growth Mindset' }"
        (mouseenter)="onHover(skill, true)"
        (mouseleave)="onHover(skill, false)"
      >
        <img
          [src]="skill.hovered ? skill.coloredIcon : skill.icon"
          alt="{{ skill.label }}-Icon"
          class="skillIcon"
        />
        <p>{{ skill.label }}</p>

        <div
          *ngIf="skill.label === 'Growth Mindset' && skill.hovered"
          class="speechBubble fontKarla"
        >
          <p class="speechText">{{ "SKILLS.SPECIAL_INTEREST" | translate }}</p>
          <div class="specialSkills">
            <div class="specialSkillIcon">
              <img
                src="/assets/img/colored-icons/linux_colored.png"
                alt="Linux Icon"
              />
              <p>Linux</p>
            </div>
            <div class="specialSkillIcon">
              <img
                src="/assets/img/colored-icons/sql_colored.png"
                alt="SQL Icon"
              />
              <p>SQL</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
