<div class="skillsSection">
  <div class="skillsContent">
    <div class="skillsetBox">
      <h2>Technologies</h2>
      <div class="skillsetBoxContent">
        <h1>Skill Set</h1>
        <span
          >My journey has involved working on diverse projects, employing a
          range of frontend technologies and concepts. I am open to embracing
          new technologies and methodologies to Continously enhance my skills
          and stay ahead in the ever-evolving landscape of web
          development.</span
        >
        <span class="highlightQuestion">You need another skill?</span>
        <span
          >Feel free to contact me. I look forward to expanding on my previous
          knowledge.</span
        >
      </div>
      <button class="letsTalkButton">Let's Talk</button>
    </div>
    <div class="skillsetIconBox"></div>
  </div>
</div>
