@import "variables";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  background-color: $background-color-main;
  margin: 180px 0 0 0;
  padding-bottom: 64px;
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    min-height: 160px;
    max-width: 1440px;
    .leftFooterContainer {
      display: flex;
      flex-direction: column;
      gap: 36px;
      .logo {
        width: 140px;
        height: 48px;
        background-image: url("/assets/img/logo_full_color_cutted.png");
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background-image: url("/assets/img/logo_full_outline_cutted.png");
          transform: scale(0.95);
        }
      }
      .smallInfos {
        display: flex;
        flex-direction: column;
        gap: 8px;
        span {
          color: $text-color-main;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    .middleFooterContainer {
      display: flex;
      justify-content: center;
      align-self: flex-end;
      padding-top: 32px;
      span {
        color: $text-color-main;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }
    }
    .rightFooterContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      align-self: flex-start;
      pointer-events: auto;
      gap: 8px;
      
      .testLink {
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: $text-color-main;
        width: 100px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        display: inline-block;
        position: relative;
        
        &::before {
          content: '';
          position: absolute;
          left: -16px;
          top: 50%;
          transform: translateY(-50%);
          width: 8px;
          height: 8px;
          background-image: url('/assets/img/radio_button_unchecked.png');
          background-size: contain;
          background-repeat: no-repeat;
          opacity: 0;
          transition: opacity 0.3s;
          pointer-events: none;
        }
        
        &:hover {
          color: $hover-color;
          &::before {
            opacity: 1;
          }
        }
      }
      
      .radioButtonMask {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        position: relative;
        &:hover .radioButton {
          opacity: 1;
        }
        .radioButton {
          opacity: 0;
          transition: opacity 0.3s;
          position: absolute;
          left: 0;
          pointer-events: none;
        }
        .footerLink {
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;
          text-wrap: nowrap;
          color: $text-color-main;
          width: 100px;
          height: 48px;
          line-height: 48px;
          text-align: center;
          display: block;
          &:hover {
            color: $hover-color;
          }
        }
      }
    }
  }
  .middleFooterMobile {
    display: none;
    text-align: center;
    span {
      color: $text-color-main;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
  }
}

@media screen and (max-width: 600px) {
  footer .footerContent {
    min-height: 180px;
  }
  #middleFooterMobile {
    display: block;
    padding-top: 48px;
  }
  #middleFooterContainer {
    display: none;
  }
  footer .footerContent .rightFooterContainer .radioButtonMask .footerLink {
    font-size: 12px;
  }
  #smallInfos {
    span {
      font-size: 12px;
    }
  }
  #footerLogo {
    width: 100px;
    height: 34px;
  }
}
