@import "variables";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  background-color: $background-color-main;
  margin: 180px 0 0 0;
  padding-bottom: 64px;
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    min-height: 160px;
    max-width: 1440px;
    .leftFooterContainer {
      display: flex;
      flex-direction: column;
      gap: 36px;
      .logo {
        width: 140px;
        height: 48px;
        background-image: url("/assets/img/logo_full_color_cutted.png");
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background-image: url("/assets/img/logo_full_outline_cutted.png");
          transform: scale(0.95);
        }
      }
      .smallInfos {
        display: flex;
        flex-direction: column;
        gap: 8px;
        span {
          color: $text-color-main;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    .middleFooterContainer {
      display: flex;
      justify-content: center;
      align-self: flex-end;
      padding-top: 32px;
      span {
        color: $text-color-main;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }
    }
    .rightFooterContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      min-width: 250px;
      
      .footerLink {
        font-family: "Fira Code";
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: $text-color-main;
        width: 200px;
        height: 64px;
        margin-bottom: 48px;
        display: block;
        line-height: 64px;
        text-align: right;
        
        &:last-child {
          margin-bottom: 0;
        }
        
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
  .middleFooterMobile {
    display: none;
    text-align: center;
    span {
      color: $text-color-main;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
  }
}

@media screen and (max-width: 600px) {
  footer .footerContent {
    min-height: 180px;
  }
  #middleFooterMobile {
    display: block;
    padding-top: 48px;
  }
  #middleFooterContainer {
    display: none;
  }
  footer .footerContent .rightFooterContainer {
    min-width: 200px;
    
    .footerLink {
      font-size: 14px;
      width: 180px;
      height: 56px;
      line-height: 56px;
      margin-bottom: 20px;
    }
  }
  #smallInfos {
    span {
      font-size: 12px;
    }
  }
  #footerLogo {
    width: 100px;
    height: 34px;
  }
}
