<footer>
  <div
    class="footerContent"
    data-aos="flip-down"
    data-aos-duration="950"
  >
    <div class="leftFooterContainer">
      <div id="footerLogo" class="logo" (click)="scrollToTop()"></div>
      <div id="smallInfos" class="smallInfos">
        <span class="fontKarla">{{ "FOOTER.WEB_DEVELOPER" | translate }}</span>
        <span class="fontKarla">{{ "FOOTER.LOCATION" | translate }}</span>
      </div>
    </div>
    <div id="middleFooterContainer" class="middleFooterContainer">
      <span class="fontFiraCode">© Bastian Thoma 2025</span>
    </div>
    <div class="rightFooterContainer">
      <a
        class="footerLink"
        href="https://github.com/BastianThoma"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.png"
          width="8px"
          height="8px"
          alt=""
          aria-hidden="true"
        />
        <span class="fontFiraCode">GitHub</span>
      </a>
      <a
        class="footerLink"
        href="https://www.linkedin.com/in/bastian-thoma"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.png"
          width="8px"
          height="8px"
          alt=""
          aria-hidden="true"
        />
        <span class="fontFiraCode">LinkedIn</span>
      </a>
      <a class="footerLink" href="imprint">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.png"
          width="8px"
          height="8px"
          alt=""
          aria-hidden="true"
        />
        <span class="fontFiraCode">{{ "FOOTER.IMPRINT" | translate }}</span>
      </a>
      <a class="footerLink" href="privacy-policy">
        <img
          class="radioButton hidden"
          src="/assets/img/radio_button_unchecked.png"
          width="8px"
          height="8px"
          alt=""
          aria-hidden="true"
        />
        <span class="fontFiraCode">{{ "FOOTER.PRIVACY_POLICY" | translate }}</span>
      </a>
    </div>
  </div>
  <div id="middleFooterMobile" class="middleFooterMobile">
    <span class="fontFiraCode">© Bastian Thoma 2025</span>
  </div>
</footer>
