@import "variables";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: $background-color-main;
  margin: 180px 0 0 0;
  padding-bottom: 64px;
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 130px;
    max-width: 1440px;
    .leftFooterContainer {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .logo {
        width: 140px;
        height: 48px;
        background-image: url("/assets/img/logo_full_color_cutted.png");
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background-image: url("/assets/img/logo_full_outline_cutted.png");
          transform: scale(0.95);
        }
      }
      .smallInfos {
        display: flex;
        flex-direction: column;
        gap: 8px;
        span {
          color: $text-color-main;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    .middleFooterContainer {
      display: flex;
      justify-content: center;
      span {
        color: #e5e7eb;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }
    }
    .rightFooterContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 4px;
      .footerLink {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        padding: 4px 6px;
        min-width: 40px;
        min-height: 40px;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        text-wrap: nowrap;
        color: $text-color-main;
        transition: color 0.3s;
        &:hover {
          color: $hover-color;
        }
        &:hover .radioButton {
          opacity: 1;
        }
        .radioButton {
          opacity: 0;
          transition: opacity 0.3s;
        }
      }
    }
  }
  .middleFooterMobile {
    display: none;
    text-align: center;
    span {
      color: #e5e7eb;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
  }
}

@media screen and (max-width: 600px) {
  #middleFooterMobile {
    display: block;
    padding-top: 32px;
  }
  #middleFooterContainer {
    display: none;
  }
  footer .footerContent .rightFooterContainer .footerLink {
    font-size: 12px;
  }
  #smallInfos {
    span {
      font-size: 12px;
    }
  }
  #footerLogo {
    width: 100px;
    height: 34px;
  }
}
