@import 'variables';

.sectionCardBox {
  max-width: 568px;
  width: 100%;
  max-height: max-content;
  height: 100%;
  h1 {
    font-size: 24px;
    color: $text-color-accent;
    font-weight: 500;
  }
  .sectionCardText {
    width: 100%;
    height: 100%;
    background-color: #4a91e225;
    backdrop-filter: blur(4px);
    border: solid 2px $border-color;
    border-radius: 30px;
    position: relative;
    padding: 32px;
    box-sizing: border-box;
    h2 {
      font-size: 64px;
      color: $text-color-accent;
      font-weight: 700;
      letter-spacing: -3%;
      margin: 0;
    }
    span {
      font-size: 18px;
      color: $text-color-main;
      font-weight: 400;
    }
    .highlights {
      gap: 16px;
      padding: 8px 0;
      font-size: 18px;
      color: $text-color-main;
      font-weight: 400;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .sectionCardBox h1 {
    font-size: 1.2rem;
  }
  .sectionCardBox .sectionCardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .sectionCardBox .sectionCardText h2 {
    font-size: 2rem;
  }
  .sectionCardBox .sectionCardText span {
    text-align: center;
    font-size: 1rem;
  }
}
